# Sensitive Info
.env

# Data
# Ignore all in data/ by default, but allow specific files and structure
data/trajectories/*
!data/trajectories/.gitkeep
data/analysis_results/*
!data/analysis_results/.gitkeep

# Allow specific data files
!data/user_profile.json
!data/seed_profile_map.json
!data/seeds.json

# Allow seed files
!seed.csv

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv/
.env/

# OS
.DS_Store
Thumbs.db